*{
     margin: 0;
     padding: 0;
 }
.block{
    width: 320px;
    height:auto
}
.title_h{
    height: auto;
    width: 320px;
    background-color: white;
    line-height: 20px;
}
.lin_hgt{
    line-height: 18px;
}
.lin_hgt a{
    color: black;
}
.in_txt{
    width: 230px;
    height: 35px;
    border-radius: 15px;
    margin: 20px 0;
    outline: none;
    border-color: #e9e9e9;
    padding-left: 20px;
}
.list_t{
    height: auto;
    border-bottom: 1px solid #e1e1e1;
}
.list_t>div{
    padding: 10px 0;
}
.list_t a{
    color: black;
    font-size: 16px;
    text-decoration: none;
}
.alllist:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    border-bottom: 3px solid deeppink;
}
.list_b{
    margin: 15px 0;
}
.list_b>div{
    font-size: 16px;
}
.list_f{
    color: orangered;
}
.lu_p{
    border-bottom: 1px solid silver;
    margin: 3px 10px;
}
.lu_p p{
    line-height: 15px;
    font-size: 16px;
}
.text-list{
    color: orangered;
}
.text_x{
    margin-top: 26px;
}
.sess_tu{
    background-color: #ededed;
    padding: 8px 0;
}
.text_good{
    font-size: 15px;
}
.text_a{
    border: 1px solid orangered;
    color: orangered;
    padding: 5px 3px;
    border-radius: 5px;
}
.di_dan{
    margin: 15px 0;
}
.bottom_line{
    width: 100%;
    height: 10px;
    background-color: #d1d1d1;
}
.text_g{
    margin-left: -15px
}